<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-store, must-revalidate" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    <caching enabled="false"></caching>
  </system.webServer>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Password=jab123;Persist Security Info=True;User ID=jabi_admin;Initial Catalog=MosadotUsersRole;Data Source=jabid" />

  </connectionStrings>
</configuration>