

<div class="clear">
    <button type="button" class="btn m-far-xs btn-link text-success" 
            ng-if="program_data.planCanApprove && !program_data.planApproved"
            ng-click="approveRows({'planApproved': true})">
        <i class="fa fa-fw fa-check"></i>
        {{'Approve Program' | translate}}
    </button>
    <button type="button" class="btn m-far-xs btn-link text-danger" 
            ng-if="program_data.planCanDecline && program_data.planApproved"
            ng-click="approveRows({'planApproved': false})">
        <i class="fa fa-fw fa-ban"></i>
        {{'Decline' | translate}}
    </button>

    <div class="pull-right flip">
        <button type="button" class="btn m-far-xs btn-success no-radius no-border" disabled ng-if="program_data.planApproved">
            {{'Approved' | translate}}
        </button>
        <button type="button" class="btn m-far-xs btn-danger no-radius no-border" disabled ng-if="!program_data.planApproved">
            {{'Not Approved' | translate}}
        </button>
    </div>
</div>

