
<div class="container-report" ng-class="UIARGS.baseClass" ng-show="!UIARGS.loading">
    <div class="inline-module" ng-class="{'boxed': UIARGS.boxed}">
        <div class="vbox" entity-height-container offset="10">
            <div class="inline-module-header">
                <h2>{{UIARGS.reportName || UIARGS.name}}</h2>
                <div class="_buttons">
                    <span ng-if="UIARGS.enableExport">
                        <a class="_btn" ng-click="reportDS.read()" title="{{ 'Refresh' | translate }}" ng-if="UIARGS.enableRefresh">
                            <i class="fa fa-fw fa-refresh"></i>
                        </a>
                        <a class="_btn" ng-click="doExport_PDF()" title="{{ 'PDF' | translate }}" ng-disabled="!reportData.length" ng-if="UIARGS.enablePDF">
                            <i class="fa fa-fw fa-file-pdf-o"></i>
                        </a>
                        <a class="_btn" ng-click="doExport_Excel()" title="{{ 'Excel' | translate }}" ng-disabled="!reportData.length" ng-if="UIARGS.enableExcel">
                            <i class="fa fa-fw fa-file-excel-o"></i>
                        </a>
                    </span>
                    <a class="max-toggler _btn" ng-if="UIARGS.enableMaximize">
                        <i class="fa fa-fw fa-expand" />
                    </a>
                </div>
            </div>
            <div class="inline-module-filters" ng-include="UIARGS.filtersTemplate"></div>
            <div class="row-row">

                <div class="cell no-overflow">
                    <div class="cell-inner grid-wrapper full-height" style="padding-bottom:2px">
                        <kendo-grid id="reportGrid" options="gridConfig" k-data-source="reportDS" k-on-change="onRowSelect(data)" class="module-inner-container" style="height:100%" ng-if="gridConfig && !hideGrid && !UIARGS.detailTemplate"></kendo-grid>
                        <kendo-grid id="reportGrid" options="gridConfig" k-data-source="reportDS" k-on-change="onRowSelect(data)" class="module-inner-container" style="height:100%" ng-if="gridConfig && UIARGS.detailTemplate">
                            <div k-detail-template>
                                <div ng-include="UIARGS.detailTemplate"></div>
                            </div>                            
                        </kendo-grid>
                    </div>
                </div>
            </div>
            <div ng-if="chartConfig" class="padder">
                <div class="k-widget">
                    <highchart id="rChartConfig" config="chartConfig" class="hc-container h-200"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>
