<div class="container w-auto-xs"  ng-controller="SigninFormController" ng-init-x="app.settings.container = false;">

    <div class="main-login">


            <div class="text-center m-b">
                <img src="img/login_logo.png" alt="" />
            </div>

            <form name="form" class="form-validation">

                <strong class="text-danger text-center block m-b"  ng-show="authError">
                    {{authError}}
                </strong>

                <div class="form-group">
                    <label for="name">{{ 'Username' | translate }}</label>
                    <div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                            <input type="text" placeholder="{{ 'Username' | translate }}" class="form-control " ng-model="user.email" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">{{ 'Password' | translate }}</label>
                    <div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                            <input type="password" placeholder="{{ 'Password' | translate }}" class="form-control " ng-model="user.password" required>
                        </div>
                    </div>
                </div>


                <div class="form-group clear">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>{{ 'Log In' | translate }}</button>
                </div>

            </form>
        </div>
	<div class="text-center" ng-include="'modules/_app/blocks/page_footer.html'"></div>
</div>